@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  font-family: 'Inter', sans-serif;
  direction: ltr;
}

.rtl {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.ltr {
  direction: ltr;
  font-family: 'Inter', sans-serif;
}